<!DOCTYPE html>
<html>
<head>
 <title>{% block title %}Welcome to mysite{% endblock %}</title>
 {% load staticfiles %}
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
 <link rel="stylesheet" type="text/css" />
 <link rel="stylesheet" href="{% static 'css/photomanage.css' %}">
 <link rel="stylesheet" href="{% static 'flickity.css' %}">
  <script src="{% static 'js/flickity.pkgd.js' %}"></script>



 <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
 <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<script type="text/javascript">
	document.addEventListener('keydown', function(event) {
    if(event.keyCode == 49) {
        alert('wildlife assigned');
    }
    else if(event.keyCode == 50) {
        alert('po assigned');
    }
});

</script>
<body>
<div id="wrap">
<header>
 <h1><a href="{% url 'photomanage:home' %}">Manage Photo</a></h1>
</header>
  
<div id="content">
{% block content %}
  
{% endblock %}
</div>
</div>
</body>
</html>