{% extends "photomanage/base.html" %}
  
{% block title %}Photo Manager{% endblock %}
  
{% block content %}
<script type="text/javascript">
	// make Flickity a jQuery plugin

// var flkty;
// jQueryBridget( 'flickity', Flickity, $ );
// $( function() {
//   var $gallery = $('.gallery').flickity({
//     cellSelector: '.gallery-cell'
//   })
//   var flkty = $gallery.data('flickity');
//   console.log(flkty.selectedElement);
// });

	var HttpClient = function() {
    this.get = function(aUrl, aCallback) {
        var anHttpRequest = new XMLHttpRequest();
        anHttpRequest.onreadystatechange = function() { 
            if (anHttpRequest.readyState == 4 && anHttpRequest.status == 200)
                aCallback(anHttpRequest.responseText);
        }

        anHttpRequest.open( "GET", aUrl, true );            
        anHttpRequest.send( null );
    }
	}
	var client = new HttpClient();
	var all_photos;
	client.get('/get_all_photos/', function(response) {
		all_photos=response;
		var myJSONText = JSON.parse(response);
		var par = document.getElementById('imageDiv');
	
	for(var i=0;i<myJSONText.length;i++){
		var div = document.createElement("div");
		// div.class = "gallery-cell";
		// var img = document.createElement('img');
		var img=document.getElementById(myJSONText[i]['id'])
		img.src = myJSONText[i]['url'];
		img.alt=myJSONText[i]['id'];
		// div.appendChild(img);
		// par.appendChild(div);
	}
	});
	

</script>

<div class="panel panel-default">
 <div class="panel-body">
 	 <div class="row">
 		<div class="col-sm-3">
 			<div class="panel panel-info">
  				<div class="panel-heading">Categories</div>
  				<div class="panel-body">
  					<button type="button" class="btn btn-info">1. Wildlife</button>
  					<button type="button" class="btn btn-info">2. Portrait</button>
  				</div>
				</div>
 		</div>
 		<div class="col-sm-9">
			<div id="imageDiv" class="gallery">
			  <div class="gallery-cell">
			    <img src="" id="1" />
			  </div>
			  <div class="gallery-cell">
			    <img src="" id="2" />
			  </div>
			  <div class="gallery-cell">
			    <img src="" id="" />
			  </div>
			  <div class="gallery-cell">
			    <img src="" id="" />
			  </div>
			  <div class="gallery-cell">
			    <img src="" id="" />
			  </div>
			  <div class="gallery-cell">
			    <img src="" id="" />
			  </div>
			  <div class="gallery-cell">
			    <img src="" id="" />
			  </div>
			</div>

 		</div>
 	</div>
 
 {% csrf_token %}
 </div>
 </div>
</div>
{% endblock %}