{% extends "photomanage/base.html" %}
  
{% block title %}Photo Manager{% endblock %}
  
{% block content %}
<style>
.album {
  width: 1280px;
  margin: 0 auto;
  padding: 5px;
  background: #D1E9F5;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
}

.album > div {
  position: relative;
  float: left;
  padding: 5px;
}

.album > div > img {
  display: block;
  width: 200px;
  transition: .1s transform;
  transform: translateZ(0); /* hack */
}

.album > div:hover {
  z-index: 1;
}

.album> div:hover > img {
  transform: scale(1.7,1.7);
  transition: .3s transform;
}

.cf:before, .cf:after {
  display: table;
  content: "";
  line-height: 0;
}

.cf:after {
  clear: both;
}

.relative {
  width: 380px;
  margin-left: 3px;
  margin-top: 5px;
  margin-bottom: 7px;
}
.name {
  font-size: 3rem;
  font-family: 'VT323', monospace;
  letter-spacing: 3px;
}
@keyframes steps {
  from { width: 380px }
    to { width: 0 }
}
.step {
  position: absolute;
  top: 0;
  right: 0;
  height: 42px;
  width: 380px;
  background: #fff;
  animation: steps 5s 2s steps(8) infinite
}
.step::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 100%;
  background: #000;
  top: 10px;
  animation: barra .5s infinite
}
@keyframes barra {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

</style>
<script type="text/javascript">

	var HttpClient = function() {
    this.get = function(aUrl, aCallback) {
        var anHttpRequest = new XMLHttpRequest();
        anHttpRequest.onreadystatechange = function() { 
            if (anHttpRequest.readyState == 4 && anHttpRequest.status == 200)
                aCallback(anHttpRequest.responseText);
        }

        anHttpRequest.open( "GET", aUrl, true );            
        anHttpRequest.send( null );
    }
	}
	var client = new HttpClient();
	var all_photos;
	client.get('/get_all_photos/', function(response) {
		all_photos=response;
		var myJSONText = JSON.parse(response);
		var par = document.getElementById('imageDiv');
	
	for(var i=0;i<myJSONText.length;i++){
		var div = document.createElement("div");
		var img=document.getElementById(myJSONText[i]['id'])
		img.src = myJSONText[i]['url'];
		img.alt=myJSONText[i]['id'];

		}
	});

	function reset(){
		client.get('/reset_category/', function(response) {
			new PNotify({
		        title: "Reset",
		        text: "All Categories reseted",
		        type: "success",
		        delay: 600
		      })
		});
		
	}

	function filter(code){
		var client = new HttpClient();
		var wildlife_photos;
		client.get('/get_photos_by_category/'+code.toString(), function(response) {
			wildlife_photos=response;
			var myJSONText = JSON.parse(response);
			var par = document.getElementById('album');
			par.innerHTML="";
		
		for(var i=0;i<myJSONText.length;i++){
			var div = document.createElement("div");
			var img = document.createElement('img');
			img.src = myJSONText[i]['url'];
			img.alt=myJSONText[i]['id'];
			div.appendChild(img)
			par.appendChild(div)
		}
		});

	}

	function custome_category(){
		var new_ca = document.getElementById("add_category").value;
		var url = '/custome_category/'+ new_ca

		var buttons = document.getElementById("cate_button");
		var new_button = document.createElement("button");
		new_button.setAttribute('class', "btn btn-info");
		
		var new_code;
		
		$.post(url, function(res){
        	new_code = res['res'];

        	int_code = parseInt(new_code);
        	new_button.setAttribute('onclick', "filter(int_code)") ;
        	new_button.innerText = new_code + '.'+new_ca;
    		buttons.appendChild(new_button);
    	});


		
	}
	
</script>
<div class="row" style="width: 90%">
	<div class="col-md-5">
		<div class="relative">
		  <div class="name">Photo Manager</div>
		  <div class="step"></div>
		</div>
	</div>
	<div class="col-md-7">
	</div>
</div>

<div class="panel panel-info">
 <div class="panel-body">
 	 <div class="row">
 		<div class="col-sm-3">
 			<div class="panel panel-info">
  				<div class="panel-heading">Categories</div>
  				<div class="panel-body" id="cate_button">
  					<button type="button" class="btn btn-info" onclick="filter(1)">1. Landscapes</button> <br><br>
  					<button type="button" class="btn btn-info" onclick="filter(2)">2. People</button><br><br>
  					<button type="button" class="btn btn-info" onclick="filter(3)">3. City scapes</button><br><br>
  					<button type="button" class="btn btn-info" onclick="filter(4)">4. Still life</button><br><br>
  					<button type="button" class="btn btn-info" onclick="filter(5)">5. Animals </button>
					<br><br>
  					<input type="text" placeholder="Add Category..." id="add_category">
  					<button type="button" class="btn btn-info" onclick="custome_category()"> + </button>
  				</div>
  				<div class="panel-body">
  					<button type="button" class="btn btn-danger" onclick="reset()">Reset</button>
  				</div>
			</div>
 		</div>
 		<div class="col-sm-9">
			<div id="imageDiv" class="gallery">
			  <div class="gallery-cell">
			    <img src="" id="1" />
			  </div>
			  <div class="gallery-cell">
			    <img src="" id="2" />
			  </div>
			  <div class="gallery-cell">
			    <img src="" id="3" />
			  </div>
			  <div class="gallery-cell">
			    <img src="" id="4" />
			  </div>
			  <div class="gallery-cell">
			    <img src="" id="5" />
			  </div>
			  <div class="gallery-cell">
			    <img src="" id="6" />
			  </div>
			  <div class="gallery-cell">
			    <img src="" id="7" />
			  </div>
			  <div class="gallery-cell">
			    <img src="" id="8" />
			  </div>
			  <div class="gallery-cell">
			    <img src="" id="9" />
			  </div>
			  <div class="gallery-cell">
			    <img src="" id="10" />
			  </div>
			  <div class="gallery-cell">
			    <img src="" id="11" />
			  </div>
			  <div class="gallery-cell">
			    <img src="" id="12" />
			  </div>
			  <div class="gallery-cell">
			    <img src="" id="13" />
			  </div>
			  <div class="gallery-cell">
			    <img src="" id="14" />
			  </div>
			  <div class="gallery-cell">
			    <img src="" id="15" />
			  </div>
			  <div class="gallery-cell">
			    <img src="" id="16" />
			  </div>
			  <div class="gallery-cell">
			    <img src="" id="17" />
			  </div>
			  <div class="gallery-cell">
			    <img src="" id="18" />
			  </div>
			  <div class="gallery-cell">
			    <img src="" id="19" />
			  </div>
			  <div class="gallery-cell">
			    <img src="" id="20" />
			  </div>
			</div>

 		</div>
 	</div>
 	</div>
 	<br>
 	<br>
 	<br>
 	<div class="row" style="margin:10px">
 		<div class="panel panel-info" >
  				<div class="panel-heading" >
  					Album by Categories
  				</div>
  				<div class="panel-body">
  					<div id="album" class="album cf"></div>
  				</div>
 		</div>
 	</div>
 
 {% csrf_token %}
 </div>
</div>
{% endblock %}